#chatborder {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 550px;

  border-radius: 9px;
  background: #ffffff;
  box-shadow: 0 4px 7px rgb(0 0 0 / 20%);

  overflow: hidden;
  overscroll-behavior-y: contain;
  display: flex;
  flex-direction: column;
  font: 15px "Open Sans", sans-serif;
}

.chatlog{
  visibility: hidden;
  margin-block-start: 0.7em;
  margin-block-end: 0.7em;
  margin-left: 6px;
  background: #eef0f3;
  border-radius: 0 5px 5px 5px;
  padding: 7px;
  margin-right: 7px;
  overflow: hidden;
  align-self: flex-start;

}

#chatinput{
  border-top: 1px solid #e2e2e2;
  padding: 15px;
}

#chatbox, #chatbox:focus {
  height: 22px;
  width: 100%;
  flex-grow: 1;
  border:none;
  outline: none;
}

#chatheader{
  background: linear-gradient(145deg, #2946de, #3153ff);;
  color: white;
  display: flex;
  font-size: 14px;
  line-height: 19px;
  height: 55px;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

#chatfooter {
    background-color: rgb(46, 78, 247);
    padding: 3px 10px;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    justify-content: space-between;
}
